<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Articles</h1>
        </div>
    </section>
    <div class="articles">
        <h1>The Value of Money</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="./img/money.jpg" alt="The Value Of Money">
                    <figcaption><i>The True Value Of Money</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>Money is an essential part of our lives, and its value is determined by various factors such as demand, scarcity, and stability. The real value of money lies in what it can do for us, such as providing us with security, freedom, and opportunities. However, it is important to remember that money cannot buy happiness or fulfillment. The time value of money is a financial concept that explains how the value of money changes over time. Money today is worth more than the same amount of money in the future because of its potential to earn interest or increase in value. In conclusion, while money is important, it is not the only thing that matters in life. The real value of money lies in what it can do for us, and we should use it wisely to achieve our goals and aspirations.
                        <cite><a
                                href="https://markmanson.net/the-real-value-of-money">The Real Value of Money</a></cite> by 
                                MARK MANSON.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>GMO food</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="./img/gmo.jpg" alt="The Value Of Money">
                    <figcaption><i>GMO food</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>Genetically modified organisms (GMOs) are a highly contentious issue, especially when it comes to their use in food production. While GMO crops can improve food sustainability, enhance environmental sustainability, and reduce the environmental footprint of agriculture, there are concerns about their impact on biodiversity and human health. GMOs in agriculture are likely to become a crucial tool in feeding the world’s growing population, especially in areas with harsh climates. However, it is important to continue to research and evaluate the use of GMOs in food production to ensure that they are safe and sustainable.
                        <cite><a
                                href="https://www.britannica.com/science/genetically-modified-organism/additional-info#contributors">Genetically Modified Organisms</a></cite> by Adam Augustyn
                                Swati Chopra, Aakanksha Gaur, Thinley Kalsang Bhutia, Gloria Lotha, Emily Rodriguez, Kara Rogers,Surabhi Sinha
                                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>The View of World in 2100</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="./img/population.jpg" alt="The Value Of Money">
                    <figcaption><i>AI and the future</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>The view of the world in 2100 is centered around the projected global population and its impact on various aspects of life. While the population growth rate is expected to decline, regional differences, environmental impact, economic implications, and social dynamics will all play significant roles in shaping the future. It is crucial to address these challenges proactively and work towards sustainable and inclusive solutions for a thriving world in the years to come.<cite><a
                                href="https://www.wired.com/2014/09/human-population-2100/">Boom! Earth's Population Could Hit 12 Billion by 2100</a></cite> by Brandon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
