<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Portfolio</h1>
        </div>
    </section>
    <h1>Photography</h1>
   
        <div class="portfolio-container">
            <div class="portfolio-box">
                <figure class="portfolio-image-container">
                    <img class="img-in-box" src="./img/p1.jpg" alt="lemons">
                    <figcaption class="iamge-name">Portraits</figcaption>
                </figure>
            </div> 
            <div class="portfolio-box">
                <figure class="portfolio-image-container">
                    <img class="img-in-box" src="./img/p2.jpg" alt="apricots">
                    <figcaption class="iamge-name">Symmetry</figcaption>
                </figure>
            </div>
            <div class="portfolio-box">
                <figure class="portfolio-image-container">
                    <img class="img-in-box" src="./img/p3.jpg" alt="watermelons">
                    <figcaption class="iamge-name">Greens</figcaption>
             </figure>
            </div>
            <div class="portfolio-box">
                <figure class="portfolio-image-container">
                    <img class="img-in-box" src="./img/p4.jpg" alt="pears">
                    <figcaption class="iamge-name">Starlight</figcaption>
                </figure>
            </div>
            <div class="portfolio-box">
                <figure class="portfolio-image-container">
                    <img class="img-in-box" src="./img/p5.jpg" alt="mangoes">
                    <figcaption class="iamge-name">Food</figcaption>
                </figure>
            </div>
            <div class="portfolio-box">
                <figure class="portfolio-image-container">
                    <img class="img-in-box" src="./img/p6.jpg" alt="apples">
                    <figcaption class="iamge-name">Silhouette</figcaption>
                </figure>
            </div>
        </div>
    </div>